body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.container {
    max-width: 900px;
    margin: 50px auto;
}
h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
p {
    color: #666;
    margin-bottom: 20px;
}
.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px;
    margin-top: 20px;
}
.gallery img {
    width: 150%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}