body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 2, 17)
}
.container {
    max-width: 900px;
    margin: 100px auto;
 
}
h1,h2 {
    font-size: 32px;
    margin-bottom: 5x;
    color: #fff;
}


p {
    color: #ffffff;
    margin-bottom: 20px;
}
.button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    margin-top: 50px;
}
.gallery img {
    width: 300%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.gallery img:hover {
    transform: scale(1.05);
}